/* html,body{
    height: 100%;
    width: 100%;
} */
 *{
    margin: 0px;
    padding: 0px;
 }
ul{
    display: flex;
    background-color: rgb(226, 134, 134);
 }
ul li{
    list-style: none;
    padding: 10px;
    margin: 10px;
    color: rgb(125, 125, 223);
 }